.list {
    width: 250px;
    margin: 10px;
    background: white;
    padding: 20px;
    box-shadow: 2px 2px 2px #1b1b1b;
    border-radius: 5px;
    position:relative;
}

.addTask button {
    padding: 0.4em;
    cursor: pointer;
}

.addTask input {
    width: 22.7vh;
}

h3 {
    margin-top: 0px;
}

.listHeader {
    padding-left: 5px;

    background-color: gainsboro;
    border-radius: 2px;
}

.listHeader button{
    cursor:pointer;
    border-radius: 2px;
    background-color:gray;
    margin-left: 1em;
    border-color: black;
    margin-bottom: 3px;
    position: absolute;
    right: 22px;
}

.listHeader button:hover{
    background-color:red;
}