.taskItem {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    padding: 1em;
    border-radius: 2px;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px #c5c4c4;
}

.taskItem button {
    margin-right: 1em;
    cursor: pointer;
    border-radius: 2px;
}

.taskItem.completed .taskText{
    opacity: 0.5;
    text-decoration: line-through;
}

.taskCross {
    border-color: black;
}

.taskCross:hover {
    background-color: red;
}

.taskText {
    margin-left: 0.4em;
}
.taskText input {
    width: 11.5vh;
}